html {
	font-size: 1px;
}

body {
	font-family: var(--ff);
	font-size: 16rem;
	transition: var(--transition);
}

.container {
	max-width: 1170rem;
	padding: 0 20rem;
	margin-inline: auto;
}

.btn {
	display: inline-block;
	cursor: pointer;
	border: 0;
	outline: 0;
	font-family: var(--ff);
	border-radius: 50rem;
}

.title-big {
	font-weight: 700;
	font-size: 48rem;
	color: var(--c-grey-dark);
}

.title-medium {
	font-weight: 600;
	font-size: 24rem;
	color: var(--c-grey-dark);
}

.title-small {
	font-weight: 600;
	font-size: 20rem;
	color: var(--c-grey-dark);
}

.desc {
	font-weight: 400;
	font-size: 16rem;
	color: var(--c-grey-dark);
}
