.doctors {
    text-align: center;
    margin-bottom: 130rem;

    @include tablet-small {
        margin-bottom: 80rem;
    }
    @include mobile {
        margin-bottom: 60rem;
    }

    &__title {
        margin-bottom: 70rem;

        @include tablet-small {
            margin-bottom: 50rem;
        }

        @include mobile {
            font-size: 34rem;
            margin-bottom: 40rem;
        }
    }

    &__desc {
        max-width: 837rem;
        margin-inline: auto;
        margin-bottom: 123rem;

        @include tablet-small {
            margin-bottom: 70rem;
        }

        @include mobile {
            margin-bottom: 60rem;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(360rem, 1fr));
        gap: 24rem;
    }
    &__card {
        text-align: left;
        padding: 44rem 34rem 33rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background: var(--c-lavender-light);
        border-radius: 20rem;
        transition: var(--transition);

        @include mobile {
            padding: 35rem 25rem;
        }
    }
    &__person {
        display: flex;
        align-items: center;
        gap: 13rem;
        margin-bottom: 25rem;
    }
   
    &__person-name {
        margin-bottom: 3rem;
    }
    &__person-job {
        color: var(--c-grey);
    }

    &__btn {
        align-self: center;
        margin-top: 28rem;
        background: var(--c-lavender);
        padding: 10rem 49rem;
        font-weight: 600;
        font-size: 20rem;
        color: var(--c-lavender-light);
        transition: var(--transition);

        @include mobile {
            font-size: 18rem;
            font-weight: 500;
        }

        &:hover {
            background: var(--c-lavender-light);
            color: var(--c-lavender);
            outline: 3rem solid var(--c-lavender);
        }
    }
}