.header {
	max-width: 1170rem;
	margin-inline: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40rem 20rem 0;

	@include mobile {
		flex-direction: column;
		gap: 5rem;
	}

	&__logo {
		transition: var(--transition);

		&:hover {
			transform: scale(1.02);
			color: var(--c-lavender);
		}
	}

	&__ul {
		margin-right: 5rem;
		display: flex;
		align-items: center;
		gap: 24rem;
		width: 421rem;

		@include tablet {
			position: fixed;
			z-index: 2;
			width: 100%;
			height: 50%;
			margin-right: initial;
			left: 0;
			top: 0;
			background: var(--c-grey-dark);
			opacity: 0.9;
			justify-content: center;
			transform: translateY(-110%);
			transition: var(--transition);
		}

		@include tablet-small {
			height: 100%;
			gap: 30rem;
			flex-direction: column;
		}

		&._active {
			transform: translateY(0);
		}
		
		.icon-close {
			position: absolute;
			top: 20rem;
			right: 20rem;
			color: var(--c-white);
		}
	}

	&__li {
		text-align: center;
		flex: 0 0 calc((100% - 24rem * 4) / 5);

		@include tablet {
			flex: initial;
		}
	}

	&__a {
		position: relative;

		&.is_active {
			color: var(--c-lavender);
			font-weight: 600;
		}

		&:hover::before, &.is_active::before {
			transform: scale(1);
		}

		&::before {
			content: '';
			display: block;
			width: 75%; 
			height: 1rem;
			position: absolute;
			left: 12.5%;
			bottom: -4rem;
			transform: scale(0);
			transition: var(--transition);
			background: var(--c-lavender);
		}

		&:hover {
			font-weight: 600;
			color: var(--c-lavender);
		}

		@include tablet {
			color: var(--c-white);
			font-size: 20rem;
		}
	}
}

.icon-menu,
.icon-close {
	cursor: pointer;
	display: none;

	@include tablet {
		display: inline-block;
	}
}

.header-form {
	display: flex;
	gap: 10rem;
	background: var(--c-black);
	border-radius: 50rem;
	max-width: 280rem;
	padding: 9rem 15rem;

	&.filled {
		background: var(--c-white);
		border: 1rem solid var(--c-black);

		.header-form__input {
			color: var(--c-black);

			&::placeholder {
				color: var(--c-black);
			}
		}

		.header-form__btn {
			color: var(--c-black);

			&:hover {
				color: var(--c-lavender);
			}
		}
	}

	@include tablet-small {
		max-width: 200rem;
	}

	@include mobile {
		margin-bottom: 10rem;
		max-width: 100%;
	}

	&__input {
		width: 100%;
		background: transparent;
		border: 0;
		font-family: var(--ff);
		font-weight: 400;
		font-size: 16rem;
		color: var(--c-lavender-light);
		&::placeholder {
			color: var(--c-white);
			font-weight: 400;
			font-size: 14rem;		
			
			@include tablet-small {
				font-size: 12rem;
			}
		}
	}

	&__btn {
		display: inline-flex;
		align-items: center;
		background: transparent;
		color: var(--c-white);
		transition: var(--transition);

		&:hover {
			transform: scale(1.3);
			color: var(--c-lavender);
		}
	}
}

