.join {
	border-radius: 10rem;
	padding: 77rem 20rem 83rem 20rem;
	text-align: center;
	background: #1c1b1f;


	&__title {
		font-family: var(--ff);
		font-weight: 700;
		font-size: 36rem;
		color: #fff;
		margin-bottom: 47rem;

		@include tablet-small {
			font-size: 30rem;
		}
		@include mobile {
			font-size: 26rem;
		}
	}
}

.join-form {
	border-radius: 50rem;
	background: #f9f1fe;
	padding: 10rem 14rem 10rem 31rem;
	gap: 10px;
	display: flex;
	max-width: 717px;
	margin-inline: auto;

	@include tablet-small {
		padding: 8rem 8rem 8rem 20rem;
	}

	&__input {
		width: 100%;
		background: transparent;
		border: 0;
		font-family: var(--ff);
		font-weight: 400;
		font-size: 16rem;
		color: #262626;

		&::placeholder {
			color: #6c6c6c;
		}

	}

	&__btn {
		display: flex;
		align-items: center;
		background: var(--c-lavender);
		padding: 10px 25px;
		font-family: var(--ff);
		font-weight: 600;
		font-size: 20rem;
		color: #fff;
		transition: var(--transition);

		&:hover {
            transform: scale(1.02);
        }

		@include mobile {
			padding: 6rem;
		}

		&-text {
			@include mobile {
				display: none;
			}
		}

		.material-icons {
			display: none;

			@include mobile {
				display: inline-block;
			}
		}

	}
}
