.service {
    text-align: center;
    margin-bottom: 111rem;

    @include mobile {
        margin-bottom: 50rem;
    }

    &__title {
        margin-bottom: 70rem;

        @include tablet-small {
            margin-bottom: 40rem;
        }

        @include mobile {
            font-size: 36rem;
        }
    }

    &__desc {
        max-width: 837rem;
        margin-inline: auto;
        margin-bottom: 123rem;

        @include tablet-small {
            margin-bottom: 80rem;
        }

        @include mobile {
            margin-bottom: 60rem;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(356rem, 1fr));
        gap: 24rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--c-lavender-light);
        padding: 46rem 26rem;
        border-radius: 15rem;
        transition: var(--transition);
        &:hover  {
            background: var(--c-lavender);
            box-shadow: 0 0 10rem 0 rgba(38, 38, 38, 0.2);
            
            svg path {
                fill: var(--c-white);
            }
            
            .service__item-title, .service__item-desc, .service__item-forward {
                color: var(--c-white);
            }
        }
    }

    &__item-icon {
        margin-bottom: 27rem;
    }

    &__item-title {
        margin-bottom: 17rem;
    }

        &__item-desc {
        margin-bottom: 17rem;
    }

    &__item-forward {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6rem;
        font-weight: 600;
        font-size: 16rem;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: var(--c-lavender);
        transition: var(--transition);

        &:hover {
            transform: scale(1.1);
        }
    }
}

// .brand-color {
//     background: var(--c-lavender);
//     font-weight: 400;
//     font-size: 16rem;
//     color: var(--c-white);
    
    // & .service__item-forward, & .service__item-title {
    //     color: var(--c-white);
    // }

//     &:hover {
//         box-shadow: 0 0 10rem 0 var(--c-grey-dark);
//     }

// }
